<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/application.js"></script>
  </head>
  <body style="padding-top: 40px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a href="/">NEW GAME</a></li>
        </ul>
      </div>
    </div>

    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </body>
</html>
