<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Nav Item</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class='outer-container clearfix'>
      <div class='aside'>
        <h2>Blackjack Pays 3 to 2</br>Dealer Hits All 17s</h2>
      </div>
   
      <div class="inner-container">
        <%if @error %>
          <div class="alert alert-error"><%=@error%></div>
        <% end %>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
