<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 40px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
            <ul class="nav">
              <li><a href="/">NEW GAME</a></li>
            </ul>
      </div>
    </div>

    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
      <%= yield %>
  </body>
</html>
