<!-- This page is rendered when user is prompted to enter name -->
<div class='container'>
  <h1>WELCOME TO BLACKJACK!!!</h1>
  <h3>Please enter your name: </h3>

  <form action='/' method='post'>
    <input type='text' name='username' class='btn-block'/>
    <input type='submit' class='btn btn-primary btn-large btn-block' value="Submit" />
  </form>

  <img src='/images/blackjack.png' alt='Blackjack Chips'/>
</div>